.row {
   @include clearfix;

   margin: 0 auto;
   max-width: $grid-width;

   &:not(:last-child) { margin-bottom: $vertical-gap; }

   [class^="col-"] {
      float: left;

      &:not(:last-child) { margin-right: $horizontal-gap; }
   }

   &.no-gap { margin-bottom: 0 !important; }

   .col-1-of-2 { width: calc((100% - #{$horizontal-gap}) / 2); }

   .col-1-of-3 { width: calc((100% - 2 * #{$horizontal-gap}) / 3); }
   .col-2-of-3 { width: calc(2 * ((100% - 2 * #{$horizontal-gap}) / 3) + #{$horizontal-gap}); }

   .col-1-of-4 { width: calc((100% - 3 * #{$horizontal-gap}) / 4); }
   .col-2-of-4 { width: calc(2 * ((100% - 3 * #{$horizontal-gap}) / 4) + #{$horizontal-gap}); }
   .col-3-of-4 { width: calc(3 * ((100% - 3 * #{$horizontal-gap}) / 4) + 2 * #{$horizontal-gap}); }
}

.full-container .row { max-width: 100%; }

.placeholder { 
   width: 100%;
   padding: none;
}

.placeholder .row [class^="col-"] {
   height: 20rem;
   background-color: lighten($color-gray-dark, 65%);
}