*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   color: $color-gray-dark-2;
   font-weight: 400;
   font-family: "Dosis", "Lato", "Roboto", sans-serif;
}

.body--gray { background-color: lighten($color-gray-light, 16%); }
.body--padded { padding: 12rem 4rem 0 12rem; }

img, video { max-width: 100%; }

ul, li { list-style: none; }

.slider {
   width: 100%;
   height: 40rem;
}

/*
.slider img {
   filter: grayscale(100%);
}

.slider::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 7777;
   background-image: linear-gradient(to right bottom, rgba(0, 242, 96, .7), rgba(5, 117, 230, .7));
}
*/

