/************ Grid *************/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  color: #505050;
  font-weight: 400;
  font-family: "Dosis", "Lato", "Roboto", sans-serif; }

img, video {
  max-width: 100%; }

ul, li {
  list-style: none; }

.slider {
  width: 100%;
  height: 40rem; }

/*
.slider img {
   filter: grayscale(100%);
}

.slider::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: linear-gradient(to right bottom, rgba(0, 242, 96, .7), rgba(5, 117, 230, .7));
}
*/
.heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px; }
  .heading--primary {
    color: #148bfb;
    text-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.15); }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-med {
  margin-top: 4rem !important; }

.u-margin-top-sml {
  margin-top: 2rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 8rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }

.u-margin-bottom-sml {
  margin-bottom: 2rem !important; }

.u-text-center {
  text-align: center !important; }

.btn {
  width: 25rem;
  border: none;
  height: 5rem;
  cursor: pointer;
  display: inline-block; }
  .btn--blue {
    color: #ffffff;
    background-color: #0471d8;
    transition: background-color 200ms linear; }
    .btn--blue:hover {
      background-color: #035cb0; }

.popup.active {
  opacity: 1;
  visibility: visible; }

.popup__overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  visibility: hidden;
  background-image: linear-gradient(226deg, rgba(62, 62, 62, 0.88) 0, rgba(0, 0, 0, 0.85) 100%); }

.popup__close-btn {
  position: absolute;
  top: 5rem;
  right: 4rem;
  width: 3.5rem;
  cursor: pointer;
  transition: transform 200ms ease-in-out; }
  .popup__close-btn:hover {
    transform: scale(1.1); }
  .popup__close-btn::before, .popup__close-btn::after {
    content: "";
    top: 0;
    width: 100%;
    height: .8rem;
    position: absolute;
    background-color: #ffffff; }
  .popup__close-btn::before {
    transform: rotate(-135deg); }
  .popup__close-btn::after {
    transform: rotate(135deg); }

.popup__container {
  max-width: 80rem;
  max-height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-form {
  width: 60rem;
  padding: 6rem;
  background-color: #ffffff; }
  .login-form__control-group {
    margin-bottom: 2rem; }
  .login-form__label {
    float: left;
    width: 10rem;
    display: block;
    text-align: right;
    margin-right: 2rem;
    font-size: 1.6rem;
    line-height: 4.5rem; }
  .login-form__input {
    height: 5rem;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #7e7e7e;
    background-color: #ffffff;
    width: calc(90% - 10rem - 2rem);
    border: 2px solid #d1d1d1; }
  .login-form__button {
    margin-left: 12rem;
    width: calc(90% - 10rem - 2rem); }
  .login-form__link {
    display: block;
    margin-left: 12rem;
    text-align: center;
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.6rem;
    color: #0471d8;
    width: calc(90% - 10rem - 2rem); }
  .login-form__message {
    font-size: 1.6rem;
    color: #eb084c;
    margin-bottom: 2rem;
    display: inline-block;
    margin-left: 12rem;
    width: calc(90% - 10rem - 2rem); }

.header {
  height: 9rem;
  background-color: #fff;
  box-shadow: 0.2rem 0 0.1rem rgba(0, 0, 0, 0.4); }
  .header__navbar {
    height: 100%; }
    .header__navbar::after {
      content: "";
      clear: both;
      display: table; }
    .header__navbar > * {
      height: 100%; }
  .header__logo {
    height: 100%;
    width: 5rem;
    margin: 0 auto;
    display: block; }
  .header__brand {
    float: left;
    display: block;
    width: 18rem; }
  .header__nav {
    float: left;
    width: calc(100% - (2 * 9rem) - 18rem);
    text-align: center; }
    .header__nav li {
      display: inline-block;
      height: 100%; }
      .header__nav li a {
        height: 100%;
        display: block;
        padding: 0 3rem;
        font-size: 1.8rem;
        line-height: 9rem;
        letter-spacing: 1px;
        text-decoration: none;
        color: #0471d8;
        font-family: "Dosis", sans-serif; }
      .header__nav li a.active {
        border-bottom: 3px solid #0471d8; }
  .header__box-option {
    float: right;
    width: 9rem;
    font-size: 3rem;
    cursor: pointer;
    text-align: center; }
    .header__box-option--1 {
      color: #ffffff;
      background-color: #0471d8;
      line-height: 10rem; }
    .header__box-option--2 {
      color: #0471d8;
      background-color: #ffffff; }
  .header__box-text {
    font-size: 1.8rem;
    line-height: 9rem;
    display: block; }

.form {
  width: 100%;
  margin: 0 auto; }
  .form__group {
    width: 40rem;
    margin: 0 auto;
    height: 5rem;
    position: relative;
    margin-bottom: 3rem; }
  .form__label {
    left: 1rem;
    bottom: 1.4rem;
    font-size: 1.4rem;
    position: absolute;
    transition: opacity .1s linear, transform .1s linear, visibility .85s linear;
    color: #7e7e7e; }
  .form__control {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    font-weight: 300;
    font-size: 1.55rem;
    position: relative;
    padding: .5rem 1rem;
    color: #7e7e7e;
    background-color: #ffffff; }
  .form__border-bottom {
    position: absolute;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d6d6d6; }
    .form__border-bottom::before, .form__border-bottom::after {
      content: "";
      height: 2px;
      width: 0;
      top: 0;
      position: absolute;
      background: #0471d8;
      transition: all .1s linear; }
    .form__border-bottom::before {
      left: 50%; }
    .form__border-bottom::after {
      right: 50%; }
  .form__control:placeholder-shown + .form__label {
    opacity: 0;
    font-size: 1.8rem;
    visibility: hidden; }
  .form__control:not(:placeholder-shown) + .form__label {
    opacity: 1;
    visibility: visible;
    transform: translateY(-3rem); }
  .form__control:focus ~ .form__border-bottom::before {
    width: 50%; }
  .form__control:focus ~ .form__border-bottom::after {
    width: 50%; }
  .form__button {
    width: 30rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem; }

.row {
  margin: 0 auto;
  max-width: 114rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3.5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3.5rem) / 3) + 3.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3.5rem) / 4) + 3.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3.5rem) / 4) + 2 * 3.5rem); }
