<IfModule mod_rewrite.c>
   RewriteEngine On
   
   RewriteRule ^(.*)/$ /$1 [L,R=301]
   RewriteCond %{REQUEST_FILENAME} -s [OR]
   RewriteCond %{REQUEST_FILENAME} -l [OR]
   RewriteCond %{REQUEST_FILENAME} -d [OR]

   RewriteRule ^.*$ - [NC,L]
   RewriteRule ^.*$ index.php [NC,L]
</IfModule>