.table {
   width: 100%;
   font-size: 1.4rem;
   text-align: center;
   letter-spacing: .09rem;
   border-collapse: collapse;

   th {
      background-color: $color-green-flat;
      color: $color-white; 
   }

   th, td { padding: 1.2rem 0; }

   tr td:last-child { 
      cursor: pointer; 
      padding-left: .5rem;
      padding-right: .5rem;
   }

   td { 
      color: lighten($color-gray-dark-2, 3%);
      border: 1px solid lighten($color-gray-light, 5%); 
   }

   tr:hover td { background-color: lighten($color-gray-light, 14%);  }

   &__toggler { position: relative; }

   &__options-group {
      top: 100%;
      opacity: 0;
      z-index: 7777;
      right: -.1rem;
      position: absolute;
      visibility: hidden;
   }

   &__option {
      width: 12rem;
      height: 4rem;
      z-index: 9999;
      line-height: 4rem;
      background-color: $color-white;
      border: 1px solid lighten($color-gray-light, 5%);
   }

   &__option a,
   &__option a:link,
   &__option a:active,
   &__option a:visited {
      display: block;
      text-decoration: none;
      color: $color-gray-dark;
   }
   
   &__option:first-child { border-bottom: none; }

   &__option:hover {
      background-color: lighten($color-gray-light, 14%);
   }

   &__toggler:hover &__options-group {
      opacity: 1;
      visibility: visible;
   }
}