.topbar {
   top: 0;
   right: 0;
   height: 8rem;
   z-index: 7777;
   position: fixed;
   padding-right: 10rem;
   width: calc(100% - 8rem);
   background-color: $color-white;
   @include subtle-line-divisor(bottom);

   &__search {
      height: 70%;
      width: 40rem;
      left: 3.5rem;
      @include vertical-centered;
   }

   &__icon {
      opacity: .4;
      width: 2.3rem;
      height: 2.3rem;
      background-size: 100%;
      @include vertical-centered;
      background-image: url("../img/icon-search-input.svg");
   }

   &__input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 2.5rem;
      padding: 0 3.5rem;
      font-family: inherit;
      color: $color-gray-light;
      background-color: $color-white;

      &:focus {
         box-shadow: none;
      }
   }

   &__item {
      width: 8rem;
      float: right;
      height: 100%;
   }

   &__profile-pic {
      height: 100%;
      position: relative;
      text-align: center;
   }

   &__img {
      max-width: 70%;
      max-height: 70%;
      margin-top: 1.3rem;
      border-radius: 50%;
      display: inline-block;
      border: 3px solid rgba(44, 235, 171, 0.425);
   }

   &__arrow-down {
      top: 50%;
      right: -1.4rem;
      cursor: pointer;
      font-size: 1.6rem;
      position: absolute;
      color: $color-gray-light-2;
      transform: translateY(-50%);
   }

   &__nav-menu {
      top: 110%;
      opacity: 0;
      width: 20rem;
      overflow: hidden;
      visibility: hidden;
      @include horizontal-centered;
      background-color: $color-white;
      box-shadow: 0 0 2rem rgba($color-black, .13);

      a {
         display: block;
         overflow: hidden;
         padding: 1.3rem 0;
         font-size: 1.6rem;
         position: relative;
         letter-spacing: 1px;
         text-decoration: none;
         color: $color-gray-light-2;
         transition: all .2s ease-in-out;
      }

      a::after {
         content: "";
         top: 0;
         left: 0;
         z-index: -1;
         width: 110%;
         height: 110%;
         position: absolute;
         background-image: linear-gradient(to bottom right, #2cebab, #07d7df);
         background-position: 20rem 0;
         background-repeat: no-repeat;
         transition: all .2s ease-in-out;
         transform: skewX(-20deg) scale(1.2);
      }

      a:hover { color: $color-white; font-weight: 700; }

      a:hover::after {
         background-position: 0 0;
         transform: skewX(-20deg) scale(1.2);
      }

      &.active {
         opacity: 1;
         visibility: visible;
         backface-visibility: visible !important;
         animation-name: flipInX;
         animation-duration: .8s;
      }
   }
}