@mixin clearfix {
   &::after {
      content: "";
      clear: both;
      display: table;
   }
}

@mixin position-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin horizontal-centered {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

@mixin vertical-centered {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

@mixin border-radius($radius) {
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   -o-border-radius: $radius;
   border-radius: $radius;
}

@mixin circle-shaped { @include border-radius(50%); }

@mixin subtle-line-divisor($side) {
   border-#{$side}: 1px solid lighten($color-gray-light, 12%);
}