$color-primary: #0471d8;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-dark: #3E3E3E;
$color-gray-dark-2: #505050;
$color-gray-light: #d1d1d1;
$color-gray-light-2: #7e7e7e;

/********** Messages ***********/
$color-success: #32ff7e;
$color-info: #3498db;
$color-error: #eb084c;
$color-warning: #e67e22;

/************ Grid *************/

$grid-width: 114rem;
$vertical-gap: 6rem;
$horizontal-gap: 3.5rem;

/*******************************/

$close-btn-size: 3.5rem;
$default-border-radius: 3px;
$circle-radius: 50%;